.bg-box{
    width: 1503px;
    height: 900px;
    background-color: green;
    background-image: url("../img/pole-zelen-trava-dom-derevya.webp"), url("../img/lamp-png-34914.png"), url("../img/green-png-44873.png"), url("../img/3F3F.webp"), url("../img/58eb07b830eab15b56162788.png");
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 50%, 4%, 23%, 3%, 3%;
    background-position: center, top, bottom, left, right;
}